/bin/
/lib/
/dist/
/tmp/
/.gradle/
/.settings/
/build/
/.classpath
/.project
/.idea/
/ajaxproxy.iml
hs_err_*.log
/out/
/.nb-gradle/
/target/
/ajaxproxy_db.trace.db
/ajaxproxy_db.lock.db
/ajaxproxy_db.mv.db
