body 
{
	background-color: #444;
	color: #f0f0f0;
	margin: 20px;
	padding: 20px;
}

h1
{
	font-weight: bold;
	font-family: verdans, sans-serif;
	color: #d0d0d0;
}

a
{
	color: #afa;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}
a:visited {
	color: #bb6;
}

td
{
	font-family: monospace;
	font-style: italic;
	padding: 0 6px 0 0;
	line-height: 22px;
}



@media only screen and (min-device-width : 320px) and (max-device-width : 780px) {

	body {
		font-size: 28px;
		margin: 10px;
		padding: 0;
	}
	td {
		font-size: 18px;
		line-height: 70px;
	}
	a {
		font-size: 32px;
	}

}
