@import "variables";

.config-tab {
    display: flex;
    flex-direction: row;
    height: 100%;

    .list {
        flex: 0 0 auto;
        overflow: auto;
        width: 15em;
        border-right: $border;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                border-bottom: $border;
                a {
                    border-left: 4px solid white;
                    display: block;
                    padding: .3em 1em;

                    @include text_link();
                }
                .selected {
                    background: floralwhite;
                    border-left: 4px solid DarkOliveGreen;
                }
            }
            li:first-child {
                border-top: $border;
            }
        }
    }

    .content {
        flex: 1 1 auto;
        overflow: auto;
        padding: 0 1em;
    }
}