@import "variables";

html {
    overflow: hidden;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

#react {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    flex: 0 0 auto;
    background: floralwhite;
    padding: 1em 1em 0 1em;
    border-bottom: $border;

    h1 {
        margin: 0 0 0.8em 0;
        padding: 0;
    }

    .bottom-bar {
        display: flex;
        flex-direction: row;
    }

    nav {
        flex: 0 0 auto;
        margin-bottom: -1px;

        .tab {
            background: ghostwhite;
            border: $border;
            border-left: none;
            padding: 0.4em 0.8em;
            display: inline-block;

            color: black;
            text-decoration: none;
        }
        .tab:first-child {
            border-left: $border;
            border-top-left-radius: 0.5em;
        }
        .tab:last-child {
            xxborder-left: $border;
            border-top-right-radius: 0.5em;
        }
        .tab.active {
            border-top: $border;
            border-top-width: 2px;
            border-bottom: 1px solid white;
            background: white;
        }

    }
    .ap-control {
        flex: 1 1 auto;
        padding: 0 0 0 25px;
        display: flex;

        .buttons {
            font-size: 1.3em;
            flex: 0 0 auto;
            padding-top: 0.4em;

            span {
                padding-right: 0.5em;
            }

            .play {
                color: green;
            }
            .stop {
                color: firebrick;
            }
            .refresh {
                color: darkblue;
            }
            .active {
                color: dimgrey;
            }
        }

        .status {
            flex: 0 0 auto;
            font-size: 0.7em;
            padding-top: 1em;
        }
    }
}


.tabs-container {
    flex: 1 1 auto;
    background: white;
    overflow: auto;
}
