html {
    overflow: hidden;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

#react {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    flex: 0 0 auto;
    background: floralwhite;
    padding: 1em 1em 0 1em;
    border-bottom: 1px solid #c0c0c0;

    h1 {
        margin: 0 0 0.8em 0;
        padding: 0;
    }

    .bottom-bar {
        display: flex;
        flex-direction: row;
    }

    nav {
        flex: 0 0 auto;
        margin-bottom: -1px;

        .tab {
            background: ghostwhite;
            border: 1px solid #c0c0c0;
            border-left: none;
            padding: 0.4em 0.8em;
            display: inline-block;

            color: black;
            text-decoration: none;
        }
        .tab:first-child {
            border-left: 1px solid #c0c0c0;
            border-top-left-radius: 0.5em;
        }
        .tab:last-child {
            border-left: 1px solid #c0c0c0;
            border-top-right-radius: 0.5em;
        }
        .tab.active {
            border-top: 2px solid #c0c0c0;
            border-bottom: 1px solid white;
            background: white;
        }

    }
    .ap-control {
        flex: 1 1 auto;
    }
}


.tabs-container {
    flex: 1 1 auto;
    background: white;
    overflow: auto;
}

li.selected { /*temporary*/
    background: silver;
}